* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background: black;
}
.wrapper {
    background: linear-gradient(217deg, rgba(177, 21, 21, 0.8), rgba(255, 0, 0, 0) 70.71%),
            linear-gradient(127deg, rgba(255, 145, 0, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(8, 5, 185, 0.5), rgba(0,255,0,0) 70.71%);
    box-shadow: 0 2px 15px rgb(0, 19, 187);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 650px;
}
.top, .bottom {
    text-align: center;
    font-size: 30px;
}
.top h1 {
    padding: 10px;
}
.top p {
    padding: 10px;
    font-size: 25px;
    margin-bottom: 15px;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 300px;
}
.image img {
    position: absolute;
    left: 250px;
    width: 300px;
    cursor: pointer;
}
.bottom h2 {
    padding: 15px;
    font-size: 25px;
    color: rgba(255, 255, 255, .5);
}
.bottom input {
    font-size: 20px;
    width: 80%;
    padding: 10px;
    background-color: rgba(128, 128, 128, .3);
    border: none;
    border-radius: 10px;
    color: black;
} 
::placeholder {
    text-align: center;
    color: rgba(255, 255, 255, .3);
}
.bottom .answer {
    padding: 10px;
    color: blue;
    font-size: 35px;
}
.bottom .answer span {
    font-size: 45px;
    color: blueviolet;
}
.bottom .error {
    padding: 10px;
    color: crimson;
    font-size: 25px;
}
/* animacja */
.animation {
    animation: dance 0.9s 1;
}
@keyframes dance {
    0% {
        left: 250px;
    }
    20% {
        left: 300px;
    }
    40% {
        left: 200px;
    }
    60% {
        left: 300px;
    }
    80% {
        left: 200px;
    }
    100% {
        left: 300px;
    }
}